<nav>
  <a routerLink="/success/resume">Resume</a>
  <a routerLink="/success/cover-letter">Cover Letter</a>
  <a href="https://www.linkedin.com/in/jack-jasper-62a14bbb/" target="_blank">LinkedIn</a>
  <a routerLink="/success/about">About</a>
</nav>

<h2>A way to test and show my skills</h2>

<p>
<b><i>June 10, 2020 @ 7:41 PM</i></b>
<br><br>
After seeing a job requiring knowledge of Angular, I decided I would create a small website with Angular to display my sills.  My only issue was that I didn't know any Angular.
<br><br>
However, that was yesterday at 6 PM.  It's now today at 7:41 PM, and I now have what I set out to create.  It's not perfect, but I think it works, and I'll probably keep editing it.  I spent a few hours learning and a few hours building and troubleshooting, finding time in between (and maybe during) my meetings at work. I also spent about a half hour rebuilding things after I unfortunately lost about half my project.
<br><br>
I hope this website shows that I am not only a quick learner, but that I am a determined individual who will make significant contributions at my next job.
<br><br>
-- Jack
</p>